.App {
  text-align: center;
  max-width: 750px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.player {
  position: relative;
  z-index: 1;
  max-width: 450px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.player-wrapper {
  position: relative;
  /*width: 100%;*/
  /*height: 100%;*/
  width: 100%;
  padding-top: 175%;
}

.player.isYouTube {
  height: auto;
  padding-top: 80px;
}
.player.isYouTube .player-wrapper {
  padding-top: 56%;
}

.react-player {
  position: absolute;
  top: -7%;
  left: 0;
  width: 100%;
  height: 100%;
}

.player-ui {
  position: fixed;
  z-index: 10;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 5px;
  background: #fff;
  box-shadow: 0 -25px 50px -12px rgb(0 0 0 / 25%);
}

button {
  background: #ccc;
  padding: 5px;
  border: 1px solid #333;
}

.progress {
  width: 100%;
  height: 100px;
}
.main-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.main-buttons__second {
  background: #ddd;
  color: #666;
  padding: 5px 10px;
  border-radius: 10px;
}
.main-buttons > button {
  margin: 0;
}
.repeat {
  display: flex;
  justify-content: left;
  padding: 10px;
}
.repeat.is-active .repeat__inputs {
  opacity: 1;
}
.repeat__button {}
.repeat__inputs {
  opacity: .2;
}
.repeat__input {
  font-weight: bold;
  /* display: inline-block; */
  margin: 0 1.5em;
}
.repeat__input > input {
  width: 40px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 3px;
}

.header {
  position: fixed;
  z-index: 10;
  min-height: 50px;
  width: 100%;
  background: #000;
  text-align: left;
}
.header .header__button {
  background: #000;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 10px;
  border: none;
}
.header .header__name {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  text-align: center;
}

.captions {
  text-align: left;
  padding: 0 15px 20px;
}


.captions__tabs {}
.captions__tabsTitle {
  display: inline-block;
  padding: 0 10px;
}
.captions__tabsContents {
  height: calc(100vh - 420px);
  overflow: scroll;
}

.captions__tabsContents > dl {
  margin-bottom: 1em;
}
.captions__tabsContents > dl > dt {
  font-weight: bold;
}
.captions__tabsContents > dl > dd {}
